{% extends 'base.html' %}

{% block navbtn %}
<button class="mx-1 rounded bg-green-300 px-3 py-1 hover:bg-pink-300 transform transition-transform duration-300 hover:scale-125" onclick="triggerEvent("finetune_confirm)" >Fine-tune</button>
{% endblock %}

{% block content %}
<div id="container" class="h-full w-full flex-1 flex flex-col">
  <div class="flex-1 grid w-screen grid-cols-3 grid-rows-2 text-center mb-0 max">
    <div class="row-span-2 bg-green-300">
      <img id="result1" class="object-cover overflow-auto" src="">
    </div>
    <div class="col-span-2 row-span-2 align-between">
      <!--- Table --->
      <div>
        <div class="overflow-x-auto mx-auto">
          <table id="dynamicTable" class="min-w-full border-collapse border border-gray-300">
            <thead class="text-black">
              <tr>
                <th scope="col" class="px-3 py-1">ID</th>
                <th scope="col" class="px-3 py-1">Column 1</th>
                <th scope="col" class="px-3 py-1">Column 2</th>
                <th scope="col" class="px-3 py-1">Column 3</th>
                <th scope="col" class="px-3 py-1">Column 4</th>
                <th scope="col" class="px-3 py-1">Column 5</th>
                <th scope="col" class="px-3 py-1">Column 6</th>
                <th scope="col" class="px-3 py-1">Action</th>
              </tr>
            </thead>
            <tbody class="bg-white"></tbody>
          </table>
          <button id="addRowBtn" class="mt-4 px-4 py-2 bg-green-400 text-black rounded">Add Row</button>
        </div>

        <script>
        </script>

      </div>
      <div class="bg-cyan-200 ">
        <img class="" src="/video_feed">
      </div>
    </div>
  </div>
  <script src="src/script.js"> </script>
  <script src="src/finetune.js"> </script>
</div>
{% endblock %}
