{% extends 'base.html' %}

{% block navbtn %}
<button id="load_btn" class="mx-1 rounded bg-green-300 px-3 py-1 hover:bg-pink-300 transform transition-transform duration-300 hover:scale-125">Load</button>
<button id="next_btn" onclick="location.href='./ft'" class="mx-1 rounded bg-green-300 px-3 py-1 hover:bg-pink-300 transform transition-transform duration-300 hover:scale-125">Next</button>
{% endblock %}
{% block content %}
<div id="container" class="mx-auto container">
    <div class="grid grid-rows-1 grid-flow-col gap-4 w-full overflow-auto">
        <div class="max-w-full object-contain mx-auto border-2 flex justify-center overflow-auto">
            <canvas id="source-viewer" class="pdf-viewer"></canvas>
            <input type="file" id="file-input" accept="application/pdf" style="display: none;">
        </div>

        <div class="max-w-full object-contain mx-auto border-2 flex justify-center">
            <!--
                <canvas id="highlight-viewer" class="pdf-viewer"></canvas>
            -->
            <img id="result1" class="object-cover overflow-auto" src="">
        </div>
    </div>
    <script src="src/script.js"> </script>
    <script src="src/pdf.js"> </script>
</div>
{% endblock %}
